In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, inspect, Integer, String, DateTime, Float, SmallInteger, Boolean
from pathlib import Path


load_dotenv()
# need to get the url for the database:
database_url = os.getenv("DATABASE_URL")
sql_pass = os.environ.get('MYSQL_ROOT_PASSWORD')
db_url = f"mysql://root:{sql_pass}@127.0.0.1:3306/data_pipeline"
engine = create_engine(db_url)
engine.connect()
print("Successfully connected to engine")
# its either /app/raw_data/nbashots or raw_data/nba_shots
path = Path("./raw_data/nbashots/")
csv_files = list(path.glob('*.csv'))
csv_files.sort()

table_name="shot"
inspector = inspect(engine)
table_exists = inspector.has_table(table_name)
print("Shots table exists: ", table_exists)

Successfully connected to engine
Shots table exists:  True

In [2]:
shots_dtypes = {
    'PLAYER_ID': Integer(),
    'PLAYER_NAME': String(255),
    'TEAM_ID': Integer(),
    'TEAM_NAME': String(255),
    'GAME_ID': Integer(),
    'GAME_DATE': DateTime(),
    'EVENT_TYPE': String(50),
    'SHOT_MADE': Boolean(),
    'ACTION_TYPE': String(100),
    'SHOT_TYPE': String(50),
    'BASIC_ZONE': String(50),
    'ZONE_NAME': String(100),
    'ZONE_ABB': String(20),
    'ZONE_RANGE': String(50),
    'LOC_X': Float(),
    'LOC_Y': Float(),
    'SHOT_DISTANCE': SmallInteger(),
    'QUARTER': SmallInteger(),
    'MINS_LEFT': SmallInteger(),
    'SECS_LEFT': SmallInteger(),
    'SEASON_1': Integer(),
    'SEASON_2': String(20),
    'POSITION_GROUP': String(20),
    'POSITION': String(20),
    'HOME_TEAM': String(20),
    'AWAY_TEAM': String(20),    
}

In [3]:
all_data = []
for i, file in enumerate(csv_files):
    df = pd.read_csv(file, iterator=True, chunksize=50000)
    total_rows = 0
    for chunk in df:
        chunk.GAME_DATE = pd.to_datetime(chunk.GAME_DATE)
        # if i == 0 and total_rows == 0:
        #     chunk.head(n=0).to_sql(name=table_name, con=engine, if_exists="replace", dtype=shots_dtypes)
        # l = len(chunk)
        # total_rows += l
        # chunk.to_sql(name=table_name, con=engine, if_exists="append", dtype=shots_dtypes)
        # print("Inserted %d chunks" % l)
        all_data.append(chunk)
    # print(f"Total chunks inserted for {file}: {total_rows}")

In [4]:
combined_df = pd.concat(all_data, ignore_index=True)

In [5]:
len(combined_df)

4231262

In [10]:
unique_players = combined_df[['PLAYER_ID', 'PLAYER_NAME']].drop_duplicates()
unique_teams = combined_df[['TEAM_ID', 'TEAM_NAME']].drop_duplicates()
unique_seasons = combined_df[['SEASON_1', 'SEASON_2']].drop_duplicates().reset_index()
unique_games = combined_df[['GAME_ID', 'GAME_DATE', 'HOME_TEAM', 'AWAY_TEAM', 'SEASON_1', 'SEASON_2']].drop_duplicates()
unique_zones = combined_df[['BASIC_ZONE', 'ZONE_NAME', 'ZONE_ABB', 'ZONE_RANGE']].drop_duplicates()
unique_pos = combined_df[['POSITION_GROUP', 'POSITION']].drop_duplicates()
unique_pos

        POSITION_GROUP  POSITION
0                    G        SG
1                    G        PG
5                    C         C
8                    F        PF
11                   F        SF
33                   F     SF-SG
53                   C      C-PF
195                  G     SG-SF
198                  G     PG-SF
249                  G     SG-PG
874                  F      PF-C
1542                 F     PF-SF
189854               G     PG-SG
190092               F     SF-PF
581837               G     SG-PF
1739874            NaN       NaN
3199588              F      SF-C
3580003              G  SG-PG-SF